* {
    box-sizing: border-box;
}

#mainPageContent {
    min-height: 100%;
    vertical-align: top;
    width : 80%;
    padding-top : 5px;
}

.page__content {
    height : 529px;
}

.zmdi-menu {
    color : black;
}