#mobile_mainPageContent li.playlistItem {
    height : 35px !important;
}

#mobile_mainPageContent li span.classement {
    display : none !important;
}

#mobile_mainPageContent li span.titre {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}