.loadPlaylistDialog_paper {
    max-width: unset !important;
    width : 75%;
}

.loadPlaylistDialog header h3 {
    display: inline-block;
}

.loadPlaylistDialog header button {
    float : right;
}
.loadPlaylistDialog header button span { padding : 0 !important; }

.loadPlaylistDialog section {
    border-top : 1px solid rgb(224, 224, 224);
    border-bottom : 1px solid rgb(224, 224, 224);
}

.loadPlaylistDialog .searchPlaylist span.material-icons {
    vertical-align : middle;
    margin-right : 5px !important;
}