:root {
  --general-font-size: 12px;
  --playlist-tab-width: 400px;
  --background-color : #dbdbdb;
}

html {
  background-color : var(--background-color);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size : var(--general-font-size);
  min-height: 100%;
  overflow: hidden;
}

table { border-collapse: collapse; }

h1, h2, h3, h4, h5, h6, ul, li {
  margin : 0;
  padding : 0;
}

ul { list-style-type : none; }

.metal-bg {
  background: -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
  background: -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
  background: -ms-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
  background: -o-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
  background: radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
  background-size: 10px 10px, 10px 10px, 100% 100%;
  background-position: 1px 1px, 0px 0px, center center;
}

div.textField input {
  font-family: Tahoma, sans-serif !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



.playlistSortableHelper { z-index: 9999; list-style : none; padding : 0; border : 1px dashed grey; background-color : white; cursor : grabbing !important; }
.playlistSortableHelper span { display : inline-block; margin : auto 0; vertical-align : middle; }
.playlistSortableHelper span.play { width : 25px; text-align : center; cursor : pointer; }
.playlistSortableHelper span.titre { width : calc(var(--playlist-tab-width) - 120px); }
.playlistSortableHelper span.duree { width : 35px; color : #545454; font-size : 12px; line-height : var(--general-font-size); text-align : right; padding-right : 3px; }

.playlistSortableHelper span.play button {
  margin : 0 !important;
  padding : 0 !important;
  height : 18px !important;
  width : 18px !important;
  color : #585858 !important;
}

.playlistSortableHelper span.play button span {
  font-size : 18px !important;
}
