#menuIcon {
    position : absolute;
    top : 18px;
    left : 5px;
}

#playlistMenuIcon {
    position : absolute;
    top : 18px;
    right : 5px;
}

#playlistMenuIcon button,
#menuIcon button {
    height : 65px !important;
    width : 65px !important;
}

#playlistMenuIcon button span,
#menuIcon button span {
    font-size : 45px !important;
}

.playlistMenu.menuDrawer > div,
.mainMenu.menuDrawer > div {
    top : var(--lecteur-height) !important;
}

.playlistMenu.menuDrawer span.material-icons,
.mainMenu.menuDrawer span.material-icons {
    color : #585858 !important;
    vertical-align : middle;
}

.mainMenu.menuDrawer span.material-icons {
    margin-right: 10px !important;
}
