#menuIcon {
    position : absolute;
    top : 18px;
    left : 10px;
}

#menuIcon button span{
    font-size : 45px !important;
}

.menuDrawer > div {
    top : var(--lecteur-height) !important;
}

.menuDrawer span.material-icons {
    color : #585858 !important;
    margin-right : 10px !important;
    vertical-align : middle;
}
