:root {
    --lecteur-height: 100px;
    --volume-slider-width : 100px;

    --play-button-size : 50px;
    --prev-next-button-size : 25px;
}

#lecteurWrapper {
    display : inline-block;
    height : var(--lecteur-height);
    width : 100%;
    text-align : center;
}

#lecteurWrapper div#lecteurDiv {
    display: inline-block;
    width : 75%;
    margin-top : calc(var(--lecteur-height) * 0.12);
    height : calc(var(--lecteur-height) - 25%);
    background-color: #eeeeee;
    border : 1px solid gray;
    border-radius : 15px;
}

#lecteurWrapper div#lecteurDiv h1 {
    text-align : center;
    font-size : 16px;
}

#lecteurWrapper div#lecteurDiv h2 {
    text-align : center;
    font-size : 12px;
    color : grey;
}

#lecteurWrapper #lecteurAction {
    float : left;
    height : 100%;
    width : 150px;
    /*position : relative;*/
    display : flex;
}

#lecteurWrapper #lecteurAction button {
    display : inline-block;
    margin : auto;
}

#lecteurWrapper #lecteurAction button.PlayButton,
#lecteurWrapper #lecteurAction button.PauseButton {
    height : var(--play-button-size);
    width : var(--play-button-size);
    border-width : 3px;
}

#lecteurWrapper #lecteurAction button.PrevButton,
#lecteurWrapper #lecteurAction button.NextButton {
    padding : 4px;
    height : var(--prev-next-button-size);
    width : var(--prev-next-button-size);
}


#lecteurWrapper #lecteurAction button.NextButton .Icon,
#lecteurWrapper #lecteurAction button.PrevButton .Icon {
    width: calc(var(--prev-next-button-size) * 0.55);
    height: calc(var(--prev-next-button-size) * 0.55);
}


#lecteurWrapper #lecteurDisplay {
    height : 100%;
    padding-top : 8px;
}



#lecteurWrapper #lecteurDisplay #lecteurProgress {
    margin-top : 10px;
    padding-left: 180px;
    text-align : left;
}

#lecteurWrapper #lecteurDisplay #lecteurProgress .ProgressBar,
#lecteurWrapper #lecteurDisplay #lecteurProgress .TimeMarker {
    display : inline-block;
}

#lecteurWrapper #lecteurDisplay #lecteurProgress .ProgressBar {
    width : calc(100% - 75px);
    margin : 0;
}

#lecteurWrapper #lecteurDisplay #lecteurProgress .TimeMarker {
    width : 75px;
    text-align : center;
}



aside#volumeSlider {
    position : fixed;
    right : 0;
    top : var(--lecteur-height);
    width : var(--volume-slider-width);
    height : calc(100vh - var(--lecteur-height));
    z-index : 100;
    background-color : var(--background-color);
    border-left : 1px grey dotted;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
