.VirtualizeTable div.action       { text-align : center; cursor : pointer; }
.VirtualizeTable div.titre        { text-align : left; }
.VirtualizeTable div.artiste      { text-align : left; }
.VirtualizeTable div.duree        { text-align : center; }
.VirtualizeTable div.bpm          { text-align : center; }
.VirtualizeTable div.genre        { text-align : left; }
.VirtualizeTable div.classement   { text-align : center; }
.VirtualizeTable div.commentaire  { text-align : left; }


.VirtualizeTable .headerLine { border-top : 1px solid grey; }
.VirtualizeTable .tableHeader { background-color: #c9c9c9; font-weight: bold; }
.VirtualizeTable .tableHeader span,
.VirtualizeTable .tableCell span { vertical-align: middle; }
.VirtualizeTable .evenRow { background-color: white; }
.VirtualizeTable .oddRow { background-color: #e5e5e5; }


.VirtualizeTable .tableCell.action {
    margin : 0 1px;
    font-size : calc(var(--general-font-size) + 2px);
}

.VirtualizeTable .tableCell.action button {
    margin : 0 !important;
    padding : 0 !important;
    height : 18px !important;
    width : 18px !important;
    vertical-align: middle;
}

.VirtualizeTable .tableCell.action button span {
    font-size : 18px !important;
}

.VirtualizeTable .textField {
    font-size : var(--general-font-size) !important;
    line-height : var(--general-font-size) !important;
    height : calc(var(--general-font-size) + 6px) !important;
}

.VirtualizeTable .textField input:focus {
    border : 1px solid grey !important;
    background : white !important;
}
