#listeGenres #chooseGenre {
    text-align : center;
}

.genre_card {
    display : inline-block;
    width : 200px;
    height : 75px !important;
    margin : 15px !important;
    text-align : center;
    cursor : pointer;
}

.genre_card * {
    text-transform: none !important;
}

#listeGenres .genre_card > button > div > div > span {
    font-size : 24px !important;
    font-weight: bold !important;
}

#listeGenres #musiqueGenres header h1 {
    text-align : center;
    font-size : 25px;
}
#listeGenres #musiqueGenres header h1 a {
    color : var(--button-active-color);
    text-decoration: none;
}