.loadPlaylistDialog header h3 {
    display: inline-block;
}

.loadPlaylistDialog header button {
    float : right;
}
.loadPlaylistDialog header button span { padding : 0 !important; }

.loadPlaylistDialog section {
    border-top : 1px solid rgb(224, 224, 224);
    border-bottom : 1px solid rgb(224, 224, 224);
}

.loadPlaylistDialog ul {
    background-color : transparent !important;
}
.loadPlaylistDialog ul,
.loadPlaylistDialog ul li div {
    color : black !important;
}

.loadPlaylistDialog .tree-item {
    margin-left : 19px;
}

.loadPlaylistDialog .tree-node .material-icons {
    vertical-align: middle;
    font-size : 20px !important;
    color : #474747 !important;
    padding-right : 5px;
}

.loadPlaylistDialog .tree-node .nbMusiques {
    color : #5e5e5e;
    font-size : 12px;
}

.loadPlaylistDialog .searchPlaylist {
    text-align : right;
}

.loadPlaylistDialog .searchPlaylist .textField {
    height : 25px !important;
}

.loadPlaylistDialog .searchPlaylist input {
    font-size : 14px !important;
    vertical-align : super;
}


.loadPlaylistDialog .searchPlaylist .textField hr {
    bottom : 2px !important;
}


.loadPlaylistDialog .searchPlaylist span.material-icons {
    font-size : 20px !important;
    color : #585858 !important;
}