.ProgressBar {
    position: relative;
    background: var(--slider-inactive-color);
    border-radius: 4px;
}

.ProgressBar-elapsed,
.ProgressBar-value {
    background: var(--slider-active-color);
    border-radius: 4px;
}

.ProgressBar-seek {
    position: absolute;
    cursor: pointer;
}

.ProgressBar-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: var(--slider-active-color);
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
}

.ProgressBar.isSeekable:hover .ProgressBar-handle,
.ProgressBar.isEnabled:hover .ProgressBar-handle {
    transform: scale(1);
}

.ProgressBar.isSeekable:hover .ProgressBar-intent,
.ProgressBar.isEnabled:hover .ProgressBar-intent {
    position: absolute;
    background: rgba(0,0,0,0.1);
}

.ProgressBar.isSeekable:hover .ProgressBar-elapsed,
.ProgressBar.isEnabled:hover .ProgressBar-elapsed {
    background: var(--slider-active-color);
}


.ProgressBar {
    height: 8px;
    margin: 10px 0;
}

.ProgressBar-elapsed {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ProgressBar-buffered {
     height: 100%;
     border-radius: 4px;
     background: var(--slider-inactive-color);
}

.ProgressBar-seek {
     top: -6px;
     right: 0;
     bottom: -6px;
     left: 0;
}

.ProgressBar-handle {
     top: 0;
     margin: -4px 0 0 -8px;
}

.ProgressBar.isSeekable .ProgressBar:hover .ProgressBar-handle {
    transform: scale(1);
}

.ProgressBar.isSeekable .ProgressBar:hover .ProgressBar-intent {
    top: 0;
    left: 0;
    height: 100%;
}

.ProgressBar.isLoading {
    opacity: 0.5;
    background: var(--slider-loading-color);
    animation: barLoading 2s infinite;
}
