#savedPlaylists {
    height : calc(100vh - var(--lecteur-height));
}

.rst__tree {
    width: 50%;
    display: inline-block;
}

.rst__rowWrapper {
    padding : 0;
    cursor : pointer;
}
.rst__rowWrapper.selected .rst__rowContents {
    background-color : #dde7ff !important;
}

.rst__rowContents {
    width : 250px;
}

.rst__rowContents .rst__rowTitle {
    width : 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rst__rowLabel {
    width : calc(100% - 100px) !important;
    padding-right : 0;
}

.rst__rowTitleWithSubtitle {
    font-size : 13px !important;
    height : 14px !important;
}

.rst__rowSubtitle {
    font-size : 11px !important;
    color : grey;
}

.rst__toolbarButton button {
    padding : 0;
    background-color : transparent;
    border : none;
    cursor : pointer;
}

.rst__toolbarButton button span {
    font-size : 15px;
}

#savedPlaylists header div.textField {
    width : 100% !important;
}
#savedPlaylists header input {
    width : 100% !important;
    margin-bottom : 5px;
    font-size : 20px !important;
    font-weight : bold !important;
    text-align : center;
    border : none;
    background : transparent;
}


#musiquesPlaylist {
    display: inline-block;
    width : 50%;
    vertical-align: top;
    height : 100%;
    overflow : auto;
}

#musiquesPlaylist h1 {
    text-align : center;
    font-size : 21px;
    margin-bottom : 5px;
}

#musiquesPlaylist ul {
    display: table;
    width : 100%;
}
#musiquesPlaylist li { display : table-row; width : 100%; border-bottom : 1px solid lightgrey; cursor : grab; height : 30px; font-size : 14px; line-height : 30px;}
#musiquesPlaylist li#headerMusiquesPlaylist { display : table-header-group; background-color : #c8c8c8; cursor : default; font-weight : bold; }
#musiquesPlaylist li:nth-child(odd) { background-color : #f3f3f3; }
#musiquesPlaylist li:nth-child(even) { background-color : white; }

#musiquesPlaylist span.noData { font-weight : bold; font-size : 14px; }

#musiquesPlaylist li span.musiqueCell { display : table-cell; }

#musiquesPlaylist li span.titre { width : calc(100% - 235px); padding : 0 3px; }
#musiquesPlaylist li span.bpm { width : 50px; text-align : center; }
#musiquesPlaylist li span.classement { width : 75px; text-align : center; }
#musiquesPlaylist li span.duree { width : 75px; text-align : center; }
#musiquesPlaylist li span.delete { width : 35px; text-align : center; }
#musiquesPlaylist li span.delete button { padding : 0 !important; height : 30px !important; width : 30px !important; vertical-align: middle; }
#musiquesPlaylist li span.delete span.material-icons { font-size : 20px !important; line-height : 30px !important; vertical-align: middle; }