.VirtualizeTable div.action       { text-align : center; }
.VirtualizeTable .tableCell div.action       { cursor : pointer; }
.VirtualizeTable div.titre        { text-align : left; }
.VirtualizeTable div.artiste      { text-align : left; }
.VirtualizeTable div.duree        { text-align : center; }
.VirtualizeTable div.bpm,
.VirtualizeTable div.bpm input    { text-align : center; }
.VirtualizeTable div.genre        { text-align : left; }
.VirtualizeTable div.classement   { text-align : center; }
.VirtualizeTable div.commentaire  { text-align : left; }

.VirtualizeTable .fetching { color : grey; }
.VirtualizeTable .ratingStar { cursor : pointer; }

.VirtualizeTable .headerLine { border-top : 1px solid grey; }
.VirtualizeTable .headerLine .sortIcon { float: right; width: auto; }
.VirtualizeTable .headerLine .ReactVirtualized__Grid { overflow: hidden !important; }

.VirtualizeTable .tableHeader { background-color: #c9c9c9; font-weight: bold; cursor : default; }
.VirtualizeTable .tableHeader.sortable { cursor : pointer; }
.VirtualizeTable .tableHeader.sorted { background-color: #e2e2e2; }
.VirtualizeTable .tableHeader,
.VirtualizeTable .tableCell { display : flex; }
.VirtualizeTable .tableHeader span { padding-left : 5px; }
.VirtualizeTable .tableHeader span,
.VirtualizeTable .tableCell span { margin : auto 0; width : 100%; }

.VirtualizeTable .evenRow { background-color: white; }
.VirtualizeTable .oddRow { background-color: #f3f3f3; }


.VirtualizeTable .tableCell.action {
    margin : 0 1px;
    font-size : calc(var(--general-font-size) + 2px);
}

.VirtualizeTable .tableCell.action button {
    margin : 0 !important;
    padding : 0 !important;
    height : 18px !important;
    width : 18px !important;
    vertical-align: middle;
}

.VirtualizeTable .tableCell.action button span {
    font-size : 18px !important;
}

.VirtualizeTable .textField {
    font-size : var(--general-font-size) !important;
    line-height : var(--general-font-size) !important;
    height : calc(var(--general-font-size) + 6px) !important;
}

.VirtualizeTable .textField input:focus {
    border : 1px solid grey !important;
    background : white !important;
    width: 96% !important;
}


#tableMusiques {
    width : calc(100% - var(--volume-slider-width));
}

#tableMusiques #searchMusique {
    display : inline-block;
    width : 100%;
    text-align : right;
    margin-bottom : 3px;
}

#tableMusiques #searchMusique span.material-icons {
    font-size : calc(var(--general-font-size) + 4px) !important;
    color : #686868 !important;
    vertical-align: middle;
}

#tableMusiques #searchMusique .textField {
    font-size : var(--general-font-size) !important;
    line-height : var(--general-font-size) !important;
    height : calc(var(--general-font-size) + 6px) !important;
    width : 25% !important;
}

#tableMusiques #searchMusique .textField hr {
    bottom : -1px !important;
}




#tableMusiques .genre > span {
    height : 30px !important;
}

#tableMusiques .genre > span > div,
#tableMusiques .genre > span > div > div {
    height : 30px !important;
    line-height : 30px !important;
    font-size : 12px !important;
}

#tableMusiques .genre > span > div {
    width : 100% !important;
}

#tableMusiques .genre > span > div > div > div > button {
    height : 30px !important;
    padding : 0 !important;
}

#tableMusiques .genre > span > div > div > div:nth-child(1) > div:nth-child(2) {
    top : 1px !important;
    height : 30px !important;
    line-height : 30px !important;
}

#tableMusiques > div > div > div > div > div:nth-child(1) > div > div:nth-child(2) > div > div > div:nth-child(14) > span > div > div:nth-child(3) {
    margin-top : -30px;
}

#tableMusiques .genre svg { fill : #a0a0a0 !important; }
#tableMusiques .genre hr { bottom : 5px !important; border-color : #a0a0a0 !important; }

div[role=menu] span[role=menuitem].disabled { color : grey !important; }
div[role=menu] span[role=menuitem].disabled.checked { color : #966090 !important; }