:root {
    --slider-width : 12px;
    --slider-active-color : #4B6FA2;
    --slider-unknown-color : red;
    --slider-inactive-color : darkgray;
    --slider-loading-color : #404040;

    --button-main-color : black;
    --button-hover-color : #5a86c4;
    --button-active-color : #375278;
    --icon-size : 26px;
}



/* ******************************
**********   Buttons   **********
********************************* */

.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton {
    margin-right: 10px;
    padding: 8px;
    background: transparent;
    border: 2px solid var(--button-main-color);
    border-radius: 100%;
    outline: none;
}

.PlayButton[disabled],
.PauseButton[disabled],
.PrevButton[disabled],
.NextButton[disabled],
.SoundOnButton[disabled],
.SoundOffButton[disabled] {
    opacity: 0.5;
}

.PlayButton.isEnabled,
.PauseButton.isEnabled,
.PrevButton.isEnabled,
.NextButton.isEnabled,
.SoundOnButton.isEnabled,
.SoundOffButton.isEnabled {
    cursor: pointer;
}

.PlayButton .Icon-shape,
.PauseButton .Icon-shape,
.PrevButton .Icon-shape,
.NextButton .Icon-shape,
.SoundOnButton .Icon-shape,
.SoundOffButton .Icon-shape {
    fill: var(--button-main-color);
}

.PlayButton:hover,
.PauseButton:hover,
.PrevButton:hover,
.NextButton:hover,
.SoundOnButton:hover,
.SoundOffButton:hover {
    border-color: var(--button-hover-color);
}

.PlayButton:hover .Icon-shape,
.PauseButton:hover .Icon-shape,
.PrevButton:hover .Icon-shape,
.NextButton:hover .Icon-shape,
.SoundOnButton:hover .Icon-shape,
.SoundOffButton:hover .Icon-shape {
    fill: var(--button-hover-color);
}

.PlayButton:active,
.PauseButton:active,
.PrevButton:active,
.NextButton:active,
.SoundOnButton:active,
.SoundOffButton:active {
    border-color: var(--button-active-color);
}

.PlayButton:active .Icon-shape,
.PauseButton:active .Icon-shape,
.PrevButton:active .Icon-shape,
.NextButton:active .Icon-shape,
.SoundOnButton:active .Icon-shape,
.SoundOffButton:active .Icon-shape {
    fill: var(--button-active-color);
}

.Icon {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
}

.Icon-shape {
    fill: green;
}





/* ******************************
**********   Sliders   **********
********************************* */

.VolumeSlider {
    position: relative;
    background: var(--slider-inactive-color);
    border-radius: 8px;

    left : 50%;
    margin-left : calc(var(--slider-width) / 3 * -1);
    top : 3%;
    height : 92%;
    width: var(--slider-width);
    transition: width 0.05s, height 0.3s;
}

.VolumeSlider .VolumeSlider-elapsed,
.VolumeSlider .VolumeSlider-value {
    background: var(--slider-unknown-color);
    border-radius: 8px;
}

.VolumeSlider .VolumeSlider-value {
    background: var(--slider-active-color);
}

.VolumeSlider .VolumeSlider-value {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.VolumeSlider .VolumeSlider-seek {
    position: absolute;
    cursor: pointer;
}

.VolumeSlider .VolumeSlider-handle {
    position: absolute;
    left: 0;
    margin: 0 0 calc(var(--slider-width) * -1) calc(var(--slider-width) / 2 * -1);
    width: calc(var(--slider-width) * 2);
    height: calc(var(--slider-width) * 2);
    background: var(--slider-active-color);
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s;
    cursor : pointer;
}

.VolumeSlider:hover .VolumeSlider-handle {
    transform: scale(1);
}

.VolumeSlider .VolumeSlider-intent {
    display : none;
    position: absolute;
    background: rgba(0,0,0,0.1);
    bottom: 0;
    left: 0;
    width: 100%;
}

.VolumeSlider-seek {
    left: -6px;
    top: 0;
    right: -6px;
    bottom: 0;
}

